# Assignment 2 Jupyter Notebook
## FIT1043 - Introduction to Data Science
## Name: Brandon Wee Yong Jing
## Student ID: 33561826

This notebook will be used to hold all of the code for each task. Markdowns will be used to clearly distinguish between codes for different questions. Discussions and further analysis of results from code will be provided in the PDF document.

#### Imports for this report

In [713]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, cohen_kappa_score

#### Reading the given csv file for credit scores

In [714]:
credit_scores = pd.read_csv("FIT1043-Credit-Scores-Dataset.csv")

#### Descriptive Statistics for the dataset

In [715]:
credit_scores.describe()

,ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
count,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.00000,...,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000
mean,83333.452381,4.411429,33.197143,7.927619,51244.805155,4255.554221,5.407143,5.576667,14.532857,3.50619,...,2.057619,1444.016295,32.379813,221.545714,0.522381,110.411491,56.302384,153.554762,399.349997,1.865714
std,41013.880408,2.279068,10.754180,4.325104,38801.235929,3226.388893,2.553747,2.099327,8.736433,2.47685,...,0.731132,1186.545886,5.199365,100.110503,0.499618,138.536282,40.246618,49.702836,203.955200,0.674920
min,10033.000000,1.000000,14.000000,1.000000,7011.685000,319.556250,0.000000,0.000000,1.000000,0.00000,...,1.000000,0.230000,21.359116,4.000000,0.000000,0.000000,0.000000,101.000000,7.438257,1.000000
25%,48108.000000,2.000000,24.000000,4.000000,19696.500000,1641.972917,4.000000,4.000000,7.000000,2.00000,...,2.000000,566.605000,28.059563,142.000000,0.000000,27.488358,27.842413,102.000000,269.255129,1.000000
50%,81490.000000,4.000000,33.000000,8.000000,37087.920000,3101.737500,6.000000,5.000000,13.000000,3.00000,...,2.000000,1149.035000,32.402470,219.000000,1.000000,67.878526,46.803308,201.000000,337.412112,2.000000
75%,118895.250000,6.000000,42.000000,12.000000,73327.380000,6118.762500,7.000000,7.000000,20.000000,5.00000,...,3.000000,2001.147500,36.641141,303.000000,1.000000,146.882432,73.229307,201.000000,473.138717,2.000000
max,155610.000000,8.000000,56.000000,15.000000,179987.280000,15101.940000,11.000000,11.000000,34.000000,9.00000,...,3.000000,4997.100000,46.724651,403.000000,1.000000,1779.103254,297.064670,203.000000,1181.113695,3.000000

#### Computing the Correlation Coefficients between Credit_Score and every other column

In [716]:
corr_matrix = credit_scores.corr()

# Extract the correlations between "Credit_Score" and all other columns
credit_score_corr = corr_matrix.loc['Credit_Score', :]

corr_matrix["Credit_Score"].sort_values(ascending=False)

Credit_Score                1.000000
Credit_Mix                  0.484907
Credit_History_Age          0.395466
Monthly_Balance             0.225686
Annual_Income               0.221317
Monthly_Inhand_Salary       0.216986
Amount_invested_monthly     0.179008
Age                         0.126065
Credit_Utilization_Ratio    0.077528
Total_EMI_per_month         0.015477
Month                      -0.005878
ID                         -0.026606
Occupation                 -0.028465
Payment_Behaviour          -0.106978
Changed_Credit_Limit       -0.168301
Num_Bank_Accounts          -0.368232
Num_of_Delayed_Payment     -0.372057
Num_of_Loan                -0.373984
Payment_of_Min_Amount      -0.376792
Outstanding_Debt           -0.379331
Delay_from_due_date        -0.409188
Num_Credit_Card            -0.413036
Num_Credit_Inquiries       -0.426879
Interest_Rate              -0.474586
Name: Credit_Score, dtype: float64

#### Splitting the dataset into features and labels

In [717]:
features = ["Credit_Mix",
 "Credit_History_Age",
 "Monthly_Balance",
 "Annual_Income",
 "Monthly_Inhand_Salary",
 "Num_Bank_Accounts",
 "Num_of_Delayed_Payment",
 "Num_of_Loan",
 "Payment_of_Min_Amount",
 "Outstanding_Debt",
 "Delay_from_due_date",
 "Num_Credit_Card",
 "Num_Credit_Inquiries",
 "Interest_Rate"]

X = credit_scores[features].values
Y = credit_scores.iloc[:, -1].values

#### Splitting features and labels for training and testing

For this report, we will be splitting the dataset into 75% for training and 25% for testing.

In [718]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

#### Scalling data using StandardScaler

In [719]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#### Training the SVC model

In [720]:
svm_model = SVC(kernel='rbf')
svm_model.fit(X_train, Y_train)
Y_pred = svm_model.predict(X_test)

In [721]:
Y_pred

array([2, 3, 1, 2, 2, 2, 3, 2, 1, 2, 2, 1, 2, 3, 2, 2, 2, 3, 2, 2, 2, 3,
       2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 3, 3, 1, 1, 2, 3, 2, 2, 2, 1, 1,
       3, 2, 2, 2, 2, 1, 3, 3, 3, 1, 1, 3, 1, 1, 3, 1, 2, 1, 2, 2, 2, 2,
       2, 3, 3, 2, 3, 3, 2, 2, 3, 2, 2, 2, 2, 1, 1, 2, 1, 3, 2, 2, 2, 1,
       3, 2, 1, 2, 2, 2, 1, 2, 2, 2, 3, 2, 3, 2, 2, 2, 2, 1, 2, 3, 2, 2,
       1, 1, 2, 3, 3, 3, 1, 3, 2, 2, 2, 2, 3, 2, 2, 2, 3, 2, 3, 2, 2, 1,
       1, 2, 1, 2, 2, 2, 3, 1, 1, 1, 3, 1, 3, 2, 2, 2, 1, 2, 1, 2, 2, 2,
       3, 3, 2, 1, 2, 3, 2, 2, 2, 2, 2, 2, 2, 1, 2, 3, 2, 2, 2, 2, 1, 2,
       2, 2, 1, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 3, 2,
       2, 3, 1, 1, 2, 2, 3, 1, 2, 3, 2, 3, 2, 2, 2, 2, 3, 2, 1, 1, 1, 2,
       1, 2, 2, 1, 2, 2, 3, 2, 2, 3, 2, 1, 2, 2, 1, 2, 2, 3, 2, 1, 2, 1,
       2, 1, 2, 2, 3, 1, 2, 2, 2, 1, 3, 3, 2, 1, 2, 1, 3, 1, 2, 3, 2, 2,
       2, 2, 1, 2, 1, 3, 2, 2, 1, 3, 2, 3, 1, 1, 2, 1, 1, 2, 1, 2, 3, 2,
       1, 2, 3, 2, 1, 2, 3, 3, 1, 3, 3, 1, 1, 1, 2, 3, 1, 1, 2, 2, 3, 3,
       2, 2, 1, 2, 3, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 3, 3, 1, 2, 2, 3, 2,
       3, 3, 3, 2, 3, 1, 1, 1, 2, 1, 3, 2, 2, 1, 3, 2, 3, 1, 2, 2, 2, 3,
       3, 2, 1, 2, 1, 1, 3, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 3, 1, 1, 2, 2,
       2, 1, 2, 1, 1, 2, 3, 3, 1, 2, 1, 2, 1, 2, 1, 3, 2, 1, 3, 2, 2, 2,
       2, 2, 3, 2, 1, 2, 2, 1, 2, 3, 2, 2, 3, 3, 1, 2, 2, 1, 3, 1, 3, 3,
       2, 2, 1, 1, 2, 2, 2, 1, 1, 3, 1, 3, 2, 1, 1, 1, 2, 1, 2, 3, 2, 2,
       2, 2, 2, 1, 1, 3, 3, 2, 1, 2, 1, 2, 3, 2, 3, 1, 2, 3, 3, 2, 2, 1,
       1, 1, 1, 1, 2, 1, 1, 3, 2, 1, 2, 1, 1, 1, 3, 2, 2, 1, 1, 3, 2, 2,
       2, 2, 2, 1, 2, 2, 2, 3, 2, 2, 2, 3, 2, 2, 2, 1, 3, 2, 1],
      dtype=int64)

#### Confusion Matrix

In [722]:
cm = confusion_matrix(Y_test, Y_pred)

In [723]:
cm

array([[ 95,  44,  15],
       [ 50, 198,  34],
       [  1,  31,  57]], dtype=int64)

In [724]:
qwk_score = cohen_kappa_score(Y_test, Y_pred, weights='quadratic')

In [725]:
qwk_score

0.5402964562677923

#### Code for predicting file used for kaggle submission

In [726]:
kaggle_credit_scores = pd.read_csv("FIT1043-Credit-Scores-Submission.csv")

In [727]:
kaggle_test = kaggle_credit_scores[features].values
kaggle_X = sc.fit_transform(kaggle_test)
prediction = svm_model.predict(kaggle_X)

In [728]:
output = pd.DataFrame({'ID': kaggle_credit_scores['ID'], 'Credit_Score': prediction})
output.to_csv('33561826-BrandonWeeYongJing-v7.csv', index=False)

In [729]:
prediction

array([1, 1, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 3, 1, 1, 2, 2, 1, 1, 1, 2, 2,
       2, 1, 2, 2, 2, 2, 2, 2, 2, 3, 1, 3, 1, 1, 1, 1, 2, 3, 3, 2, 2, 1,
       1, 2, 2, 1, 2, 1, 2, 2, 1, 3, 1, 2, 2, 3, 2, 1, 2, 3, 3, 1, 2, 2,
       1, 2, 2, 3, 3, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 3, 1, 1, 2, 1, 2, 2,
       2, 2, 2, 2, 3, 1, 1, 2, 2, 2, 2, 3, 1, 3, 2, 3, 2, 2, 1, 2, 2, 3,
       2, 1, 3, 1, 3, 2, 1, 2, 3, 2, 3, 2, 1, 2, 2, 1, 3, 2, 2, 1, 2, 1,
       2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 1, 1, 1, 1, 2, 3, 2, 1, 1, 2,
       2, 2, 2, 1, 2, 1, 2, 3, 2, 1, 1, 1, 1, 3, 2, 2, 3, 2, 3, 2, 1, 2,
       2, 2, 1, 2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 2, 3, 2, 1, 1, 3, 3, 2, 3,
       2, 3, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 3, 2, 1, 2, 3, 1, 1, 2, 2, 2,
       3, 2, 3, 1, 2, 3, 2, 3, 2, 2, 2, 3, 1, 2, 2, 2, 2, 1, 2, 2, 1, 1,
       1, 1, 2, 1, 2, 2, 1, 1, 2, 2, 3, 2, 1, 3, 2, 3, 2, 2, 2, 2, 3, 3,
       1, 3, 1, 3, 3, 2, 3, 2, 1, 1, 2, 1, 2, 2, 3, 2, 1, 1, 3, 2, 1, 3,
       2, 2, 3, 3, 2, 2, 3, 2, 2, 1, 1, 3, 2, 1, 2, 2, 3, 2, 2, 1, 2, 1,
       1, 3, 2, 3, 3, 3, 3, 2, 1, 3, 1, 1, 2, 2, 2, 2, 2, 1, 3, 2, 2, 1,
       3, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 2, 1, 2, 3, 2, 3, 1, 3, 3, 2, 2,
       1, 1, 3, 1, 2, 2, 1, 2, 3, 2, 1, 2, 1, 2, 2, 2, 1, 2, 1, 1, 2, 1,
       2, 2, 2, 1, 1, 1, 3, 2, 3, 1, 2, 3, 2, 1, 3, 2, 3, 2, 2, 1, 1, 1,
       2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 3, 2, 3, 3, 2, 3, 2, 2, 1, 2, 1,
       2, 1, 2, 1, 1, 2, 1, 2, 1, 3, 1, 2, 2, 3, 3, 3, 2, 3, 3, 3, 1, 1,
       2, 1, 1, 2, 2, 1, 3, 2, 1, 1, 2, 2, 1, 2, 3, 2, 2, 2, 2, 2, 1, 3,
       3, 2, 3, 1, 2, 3, 3, 2, 2, 2, 2, 3, 3, 2, 2, 1, 3, 3, 1, 1, 2, 1,
       1, 2, 1, 2, 2, 2, 2, 2, 3, 3, 1, 2, 2, 1, 2, 1, 3, 1, 3, 1, 2, 3,
       2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 3, 1, 2, 2, 1, 1, 2, 3, 1, 1, 1,
       3, 2, 2, 1, 2, 3, 1, 1, 1, 2, 1, 3, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2,
       3, 3, 2, 2, 2, 1, 2, 3, 3, 2, 2, 2, 2, 1, 2, 1, 1, 2, 1, 2, 2, 2,
       1, 3, 2, 2, 2, 2, 1, 2, 1, 2, 2, 1, 2, 3, 3, 2, 2, 2, 3, 1, 2, 2,
       2, 3, 3, 2, 1, 2, 2, 3, 1, 1, 2, 2, 3, 2, 3, 2, 3, 2, 3, 2, 2, 2,
       2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 2, 2, 3, 3, 3, 2, 1, 2, 1, 2,
       3, 2, 3, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 2, 3, 3, 3, 1, 1, 3, 3,
       2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 2, 3, 2, 2, 1, 1, 3, 2, 1, 1,
       3, 3, 2, 2, 3, 1, 2, 1, 1, 3, 2, 3, 1, 1, 1, 3, 2, 2, 2, 2, 3, 3,
       1, 2, 2, 3, 1, 2, 2, 2, 2, 1, 1, 3, 2, 2, 2, 3, 1, 2, 2, 1, 2, 2,
       1, 1, 2, 2, 3, 3, 1, 3, 1, 3, 2, 1, 2, 3, 1, 2, 1, 1, 2, 2, 2, 2,
       1, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 1, 2, 2, 2, 1, 1, 2,
       2, 2, 2, 2, 1, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 1, 3, 2, 1, 3, 2, 3, 1, 2, 1, 2, 1, 3, 1, 1, 1, 2,
       3, 2, 3, 2, 3, 1, 1, 1, 3, 3, 2, 2, 1, 1, 2, 2, 2, 2, 2, 1, 2, 1,
       2, 1, 2, 2, 2, 1, 2, 1, 2, 2, 3, 2, 3, 2, 1, 2, 3, 1, 2, 1, 1, 2,
       3, 1, 2, 1, 1, 2, 3, 1, 3, 1, 2, 1, 2, 1, 1, 3, 1, 2, 2, 1, 2, 2,
       1, 1, 2, 1, 1, 2, 1, 1, 1, 3, 1, 3, 1, 3, 2, 2, 2, 2, 2, 2],
      dtype=int64)